<header>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">🐳 DockerSite</a>
            <ul class="nav-links">
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">Обо мне</a></li>
                <li><a href="projects.html">Проекты</a></li>
                <li><a href="blog.html">Блог</a></li>
                <li><a href="contact.html">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>
